PORT=3000
NODE_ENV=development
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=your_mysql_password_here
DB_NAME=fintech_db
DB_PORT=3307

APP_BASE_URL=http://localhost:3000
PAYMONGO_SECRET_KEY=sk_test_your_paymongo_secret_key_here
PAYMONGO_PUBLIC_KEY=pk_test_your_paymongo_public_key_here
PAYMONGO_WEBHOOK_SECRET=
